@font-face {
    font-family: 'HKGrotesk-Legacy';
    src: url('./fonts/HKGrotesk-BoldLegacy.eot');
    src:    url('./fonts/HKGrotesk-BoldLegacy.woff2') format('woff2'),
            url('./fonts/HKGrotesk-BoldLegacy.woff') format('woff'),
            url('./fonts/HKGrotesk-BoldLegacy.woff') format('opentype'),
            url('./fonts/HKGrotesk-BoldLegacy.ttf') format('truetype'),
            url('/fonts/HKGrotesk-BoldLegacy.otf') format('opentype');
}

@font-face {
    font-family: 'PennStation';
    src: url('./fonts/Pennstat.eot');
    src:    url('./fonts/Pennstat.woff2') format('woff2'),
            url('./fonts/PennStation.woff') format('woff'),
            url('./fonts/Pennstat.ttf') format('truetype');
            unicode-range: U+00-FF;
}

:root {
  --dark-sky-blue: #4a90e2;
  --sun-yellow: #f8e71c;
  --scarlet: #d0021b;
  --white: #ffffff;
  --black: #000000;
  --warm-grey: #9b9b9b;
}
.list-title {
    width: 100%;
    font-family: 'HKGrotesk-Legacy';
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 13.7px;
    color: var(--white);
    background: var(--dark-sky-blue);
    display: flex;
    height: 104px;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
}

.list-body-container {
    width: 80%;
    height: 100vh;
    margin-top: 22px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.task-container {
    margin: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'PennStation';
    letter-spacing: 1.2px;
}

.task-headers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header {
    margin: 5px;
    font-family: 'HKGrotesk-Legacy';
    font-size: 48px;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: flex-start;
}

.edit {
    display: none;
}

.delete {
    color: red;
    background: black;
    border: black;
}

.hide-delete {
    display: none;
}

.task-cell {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.log-out, .show-crossed-off {
    font-family: 'PennStation';
    background: black;
    border: black;
    font-size: 18px;
}

.log-out {
    color: var(--sun-yellow);
}

.show-crossed-off {
    color: var(--scarlet);
    margin-bottom: 8px;
}

.show-crossed-off:focus, .log-out:focus {
    outline: none;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18vh;
}

.task-text {
    position: relative;
    white-space: nowrap; /* would center line-through in the middle of the wrapped lines */
}

.task-text:after {
    border-top: 1px solid white;
    position: absolute;
    content: "";
    right: 0;
    top:37%;
    left: 0;
}

.crossed-out-hide {
    display: none;
}

.task-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3vh;
}

input {
    font-family: 'PennStation', serif;
    color: white;
    background: black;
    border: black;
    font-size: 16px;
}

input:focus {
    outline: none;
}


.task-input-text {
    grid-column-start: 2;
}


   