.home-container {
    background: black;
    height: 100vh;
}

.ticket-container {
    margin-left: 14vw;
    display: flex;
}

.ticket{
    max-width: 95%;
    transition: max-width 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ticket:hover {
    max-width: 100%
}